html, body {
    margin: 0;
    padding: 0;
}

div p {
    color: blue;
    background-color: yellow;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-weight: bolder;
}